ユーザを選択してください。

<table style="width:1200px; border:3px solid">
  <thead>
    <tr>
      <th style="width:300px;">名前</th>
      <th style="width:600px;">メールアドレス</th>
      <th style="width:300px;">選択</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td style="border:2px solid"><%= user.name %></td>
        <td style="border:2px solid"><%= user.email %></td>
        <td style="border:2px solid"><%= link_to '確認', jobs_data_path %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<#%= paginate @users %>
