<h2 style="margin: 20px;">お探しのページは存在しませんでした。</h2>
<div class="user_box">
<p>以下よりお戻りください。</p>
<% if logged_in? %>
<%= link_to "戻る", jobs_home_path %>
<% else %>
<%= link_to "戻る", root_path %>
<% end%>
</div>